
@{
    ViewBag.Title = "Admin Dashboard";
}

    <div class="row" style="padding-top:1%;padding-bottom:2%">
        <div class="col-3">
            <div class="row"style ="padding-bottom:2%" >
                <div class="col-12">
                    <button type="button" onclick="window.location.href = '@Url.Action("Register","Account")'" class="btn btn-purple btn-block text-uppercase waves-effect waves-light">
                        CREATE PROJECT
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="nicescroll" style="border:1px solid black;height:65vh;width:100%;overflow-x:hidden;overflow-y:scroll;">
                        <div class="row" style="padding-top:6%">
                            <div class="col-12">
                                <button type="button" onclick="window.location.href = '@Url.Action("Register","Account")'" class="btn btn-danger btn-block text-uppercase waves-effect waves-light">
                                    <h5>Project Name </h5>
                                    <h3>54 Tickets</h3>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

